@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

:root {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #20223f;
  text-decoration: inherit;
}
a:hover {
  color: #20223f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(hsl(249, 93%, 84%), hsl(50 93% 84%));
  color: rgba(0, 20, 80, 0.8);
}

p {
  font-size: 1.8rem;
  margin: 0;
}

p.quote {
  text-align: left;
}

p.link {
  font-size: 1rem;
}

#root {
  max-width: 440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
}
